#logo{
    width: 250px;
    height: 100px;
}

h1{
    font-size: 2em;
}

nav {
    overflow: hidden;
	background-color: #e1e3e6;
}

nav a {
    padding: 10px;
	display: block;
    float: left;
}

.category_books, .subcategory_books{
    display: flex;
    flex-wrap: nowrap;
}

.book_item{
    padding: 20px;
    width: 30%;
}

.book_item img {
    width: 300px;
    height: 400px;
}

.large_image img{
    width: 300px;
    height: 400px;
}

.small_images img{
    width: 80px;
    height: 130px;
}

.price_n_add{
    font-size: 30px;
    margin: 120px 10px 10px 10px;
}

.price_n_add button{
    width: 130px;
    height: 50px;
}

.book_details{
    display: flex;
    flex-wrap: wrap;
}

.large_image{
    width: 33%;
}

.small_images{
    width: 15%;
    display: flex;
    flex-wrap: wrap;
}

.small_images img {
    margin-right: 80px;
    width: 100%;
}

.price_n_add {
    width: 45%;
}

form {
    display: flex;
    flex-wrap: wrap;
}

.form_label{
    width: 35%;
}

.form_field{
    width: 65%;
}

@media only screen and (max-width:960px) {
    header nav a {
        float: none;
    }

    .large_image{
        width: 100%;
        text-align: center;
    }

    .small_images{
        width: 100%;
        flex-wrap: nowrap;
    }

    .small_images img {
        width: 33%;
        margin: 0% 10% ;
    }

    .price_n_add{
        width: 100%;
        margin-top: 10px;
        margin-right: 0px;
        text-align: center;
    }

    .form_label{
        width: 100%;
    }

    .form_field{
        width: 100%;
    }
}